apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  kind.registry.server: |
    kind.registry:53 {
        errors
        cache 30
        forward . {{ registry_ip }}
    }